<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name = "description" content= "This page is used to perform the task of checking out and keeping track of the many games in out house.">
    <meta name = "viewport" content="width=device-width, initial-scale=1.0">
    <title>San-Nicolas Game Station</title>
</head>
<body>

<h1>San-Nicolas Game Station</h1>
<form action="/checkout" method="get">
    <button type="submit">Borrow Games</button>
</form>

<form action="/adminLogin" method="get">
    <button type="submit">Admin Login</button>
</form>

</body>
</html>